.contanier{
  color:black
}
.gay{
  font-size: 24px;
}
#div1{
  background:red
}
#div2{
  background:orange
}
#div3{
  background:yellow
}
#div4{
  background:green
}
#div5{
  background:blue
}
#div6{
  background:purple
}