.container{
  color:black
}
.correct{
  background:#00cc00
}
.incorrect{
  background:red
.gay{
  font-size: 24px;
}
#div1{
  background:red
}
#div2{
  background:orange
}
#div3{
  background:yellow
}
#div4{
  background:#00cc00
}
#div5{
  background:blue
}
#div6{
  background:purple
}
